language: python
python:
  - "3.7"

before_install:
  # https://launchpad.net/ubuntu/+source/staden-io-lib
  - sudo apt-get install -y staden-io-lib-utils

install:
  - pip install -U flit coverage pytest pytest-cov python-coveralls
  # The --symlink is necessary for coverage to work.  Otherwise it seems to get 
  # confused, maybe by looking for the paths in the repository while the paths 
  # in site-packages actually run.  I'm not totally sure.
  - flit install

script: 
  - pytest tests --cov autosnapgene

after_success:
  - coveralls


